<div class="container w-25">
  <% if notice.errors.any? %>
    <ul>
      <% notice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with model: notice do |f| %>
    <div class="field">
      <%= f.label :name, class: "fw-bold" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :start_date, class: "fw-bold" %>
      <%= f.date_field :start_date, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :end_date, class: "fw-bold" %>
      <%= f.date_field :end_date, class: "form-control" %>
    </div>

    <div class="actions mt-2">
      <%= f.submit 'Salvar', class: "btn btn-success" %>
      <%= link_to 'Voltar', notices_path, class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>