<div class="cute-container">
  <h1>Editar perfil</h1>

  <% if @researcher.errors.any? %>
    <div class="alert alert-danger">
      <p>Verifique os erros abaixo:</p>
      <ul>
        <% @researcher.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with model: @researcher do |f| %>
    <div>
      <%= f.label :name, class: "form-label" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div>
      <%= f.label :phone_number, class: "form-label" %>
      <%= f.text_field :phone_number, class: "form-control" %>
    </div>
    <div>
      <%= f.label :academic_field, class: "form-label" %>
      <%= f.text_field :academic_field, class: "form-control" %>
    </div>
    <div>
      <%= f.label :cv_link, class: "form-label" %>
      <%= f.text_field :cv_link, class: "form-control" %>
    </div>
    <div>
      <%= f.label :orcid_id, class: "form-label" %>
      <%= f.text_field :orcid_id, class: "form-control" %>
    </div>
    <div>
      <%= f.label :academic_title, class: "form-label" %>
      <%= f.text_field :academic_title, class: "form-control" %>
    </div>

    <%= f.fields_for :address do |address_fields| %>
      <div class="mb-3">
        <%= address_fields.label :street, class: "form-label" %>
        <%= address_fields.text_field :street, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= address_fields.label :district, class: "form-label" %>
        <%= address_fields.text_field :district, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= address_fields.label :complement, class: "form-label" %>
        <%= address_fields.text_field :complement, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= address_fields.label :postal_code, class: "form-label" %>
        <%= address_fields.text_field :postal_code, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= address_fields.label :city, class: "form-label" %>
        <%= address_fields.text_field :city, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= address_fields.label :state, class: "form-label" %>
        <%= address_fields.text_field :state, class: "form-control" %>
      </div>
    <% end %>

    <div class="mb-3">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= f.label :password, class: "form-label" %>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= f.label :password_confirmation, class: "form-label" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= f.submit 'Salvar alterações', class: "btn btn-primary" %>
    </div>
    <div>
      <%= link_to 'Voltar', researcher_path(@researcher), class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>
