<!DOCTYPE html>
<html>
<head>
  <title>ProjectManager</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<header>
  <%= link_to root_path do %>
    <h1>Página inicial</h1>
  <% end %>
  <nav>
    <% if user_signed_in? %>
      <% if current_user.role == 'supervisor' %>
        <%= link_to 'Cadastrar coordenador', new_coordinator_registration_path %>
        <%= link_to 'Visualizar coordenadores', coordinators_path %>
        <%= link_to 'Cadastrar pesquisador', new_researcher_registration_path %>
        <%= link_to 'Visualizar pesquisadores', researchers_path %>
      <% end %>

      <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Entrar', new_user_session_path %>
    <% end %>
  </nav>
</header>
<main>
  <div>
    <%= notice %>
    <%= alert %>
  </div>
  <%= yield %>
</main>
</body>
</html>
