<!DOCTYPE html>
<html lang="en">

<head>
  <title>ProjectManager</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "styles", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&family=Poppins:wght@300&display=swap" rel="stylesheet">
  <!-- Bootstrap JS and Popper.js (order matters) -->
  <script src="path/to/popper.min.js"></script>
  <script src="path/to/bootstrap.min.js"></script>

</head>

<body>
  <div id="wrapper">
    <header>
      <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
      <!-- Navbar Brand-->
      <%= link_to root_path, class: "navbar-brand ps-3" do %>
        <h3>SGPIC</h3>
      <% end %>
    
      <!-- Navbar Links based on user role -->
      <div class="navbar-nav">
        <% if user_signed_in? %>
          <!-- Supervisor Links -->
          <% if current_user.role == 'supervisor' %>
            <!-- Ações Dropdown -->
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="acoesDropdownSupervisor" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ações
              </a>
              <div class="dropdown-menu" aria-labelledby="acoesDropdownSupervisor">
                <%= link_to 'Cadastrar Coordenador', new_coordinator_registration_path, class: "dropdown-item" %>
                <%= link_to 'Visualizar Coordenadores', coordinators_path, class: "dropdown-item" %>
                <%= link_to 'Cadastrar Pesquisador', new_researcher_registration_path, class: "dropdown-item" %>
                <%= link_to 'Visualizar Pesquisadores', researchers_path, class: "dropdown-item" %>
                <%= link_to 'Visualizar Projetos', supervisor_projects_path(current_user.supervisor), class: "dropdown-item" %>
              </div>
            </div>
    
            <%= form_with url: search_supervisor_projects_path, method: :get, class: "nav-form" do |f| %>
              <div class="input-group">
                <%= f.text_field :query, placeholder: 'Buscar projeto', class: "form-control" %>
                <%= f.submit 'Buscar', class: "btn btn-primary" %>
              </div>
            <% end %>
          <% end %>
    
          <!-- Coordinator Links -->
          <% if current_user.role == 'coordinator' %>
            <!-- Ações Dropdown -->
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="acoesDropdownCoordinator" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ações
              </a>
              <div class="dropdown-menu" aria-labelledby="acoesDropdownCoordinator">
                <%= link_to 'Editais', notices_path, class: "dropdown-item" %>
                <%= link_to 'Visualizar Projetos', coordinator_projects_path(current_user.coordinator), class: "dropdown-item" %>
              </div>
            </div>
    
            <%= form_with url: search_coordinator_projects_path(current_user.coordinator), method: :get, class: "nav-form" do |f| %>
              <div class="input-group">
                <%= f.text_field :query, placeholder: 'Buscar projeto', class: "form-control" %>
                <%= f.submit 'Buscar', class: "btn btn-primary" %>
              </div>
            <% end %>
    
            <%= link_to 'Perfil', coordinator_path(current_user.coordinator), class: "nav-link" %>
          <% end %>
    
          <!-- Researcher Links -->
          <% if current_user.role == 'researcher' %>
            <!-- Ações Dropdown -->
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="acoesDropdownResearcher" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ações
              </a>
              <div class="dropdown-menu" aria-labelledby="acoesDropdownResearcher">
                <%= link_to 'Cadastrar Novo Projeto', new_researcher_project_path(current_user.researcher), class: "dropdown-item" %>
                <%= link_to 'Visualizar Projetos', researcher_projects_path(current_user.researcher), class: "dropdown-item" %>
              </div>
            </div>
    
            <%= form_with url: search_researcher_projects_path(current_user.researcher), method: :get, class: "nav-form" do |f| %>
              <div class="input-group">
                <%= f.text_field :query, placeholder: 'Buscar projeto', class: "form-control" %>
                <%= f.submit 'Buscar', class: "btn btn-primary" %>
              </div>
            <% end %>
    
            <%= link_to 'Perfil', researcher_path(current_user.researcher), class: "nav-link" %>
          <% end %>
    
          <!-- Logout Button -->
          <div class="nav-item">
            <%= button_to 'Sair', destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
          </div>
        <% else %>
          <!-- Login Link for Users not Signed In -->
          <%= link_to 'Entrar', new_user_session_path, class: "nav-link" %>
        <% end %>
      </div>
    </nav>
    
    </header>
    <main id="content">
      <div>
        <%= notice %>
        <%= alert %>
      </div>
      <%= yield %>
    </main>
    <footer class="py-4">
      <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
          <div>Copyright &copy; Your Website 2023</div>
          <div>
            <a href="#">Privacy Policy</a>
            &middot;
            <a href="#">Terms &amp; Conditions</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <%= javascript_include_tag 'scripts' %>
</body>

</html>
