<!DOCTYPE html>
<html>
<head>
  <title>ProjectManager</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<header>
  <nav>
    <%= link_to root_path do %>
      <h1>P치gina inicial</h1>
    <% end %>

    <% if user_signed_in? %>
      <% if current_user.role == 'supervisor' %>
        Ol치 <%= current_user.supervisor.name %>
        <%= link_to 'Cadastrar coordenador', new_coordinator_registration_path %>
        <%= link_to 'Visualizar coordenadores', coordinators_path %>
        <%= link_to 'Cadastrar pesquisador', new_researcher_registration_path %>
        <%= link_to 'Visualizar pesquisadores', researchers_path %>

        <%= link_to 'Visualizar projetos', supervisor_projects_path(current_user.supervisor) %>

        <%= form_with url: search_supervisor_projects_path, method: :get do |f| %>
          <div class="input-group">
            <%= f.text_field :query, placeholder: 'Buscar projeto' %>
            <%= f.submit 'Buscar' %>
          </div>
        <% end %>
      <% end %>

      <% if current_user.role == 'coordinator' %>
        Ol치 <%= current_user.coordinator.name %>
        <%= link_to 'Visualizar projetos', coordinator_projects_path(current_user.coordinator) %>

        <%= form_with url: search_coordinator_projects_path(current_user.coordinator), method: :get do |f| %>
          <div class="input-group">
            <%= f.text_field :query, placeholder: 'Buscar projeto' %>
            <%= f.submit 'Buscar' %>
          </div>
        <% end %>

        <%= link_to 'Perfil', coordinator_path(current_user.coordinator) %>
      <% end %>

      <% if current_user.role == 'researcher' %>
        Ol치 <%= current_user.researcher.name %>
        <%= link_to 'Cadastrar novo projeto', new_researcher_project_path(current_user.researcher) %>
        <%= link_to 'Visualizar projetos', researcher_projects_path(current_user.researcher) %>

        <%= form_with url: search_researcher_projects_path(current_user.researcher), method: :get do |f| %>
          <div class="input-group">
            <%= f.text_field :query, placeholder: 'Buscar projeto' %>
            <%= f.submit 'Buscar' %>
          </div>
        <% end %>

        <%= link_to 'Perfil', researcher_path(current_user.researcher) %>
      <% end %>

      <div>
        <br />
        <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
      </div>
    <% else %>
      <%= link_to 'Entrar', new_user_session_path %>
    <% end %>
  </nav>
</header>
<main>
  <div>
    <%= notice %>
    <%= alert %>
  </div>
  <%= yield %>
</main>
</body>
</html>
